@page "/counter"

<h1 id="Issue32767CounterPage">Counter</h1>

<p id="Issue32767CurrentCount">Current count: @currentCount</p>

<button @onclick="IncrementCount" id="Issue32767IncrementButton">Click me</button>
<p>
    <a href="/" id="Issue32767BackToHomeLink">Back to Home</a>
</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}